.scrollbar::-webkit-scrollbar{
  display: none;
}

.markdown{
  display: block;
  max-width: 100%;
  height: auto;
}

.align-items{
  align-items: center;
}


.profileImage{
  width: 300px;
  height: 450px;
  position: relative;
  left: -200px;
  background-size: cover;
  border-radius: 50%;
  
  border: 5px solid #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 600px) {
  .backgroundImage{
    background-size: cover;
  }
}