.scrollbar::-webkit-scrollbar{
  display: none;
}

.markdown{
  display: block;
  max-width: 100%;
  height: auto;
}

.align-items{
  align-items: center;
}

/* .backgroundImage{
  width: 100%;
  height: 100vh;
  background-image: url("images/developer-300-1920x960_new.jpg");
  background-size: cover;
  /* object-fit: cover; */
  
/* } */ */

.profileImage{
  width: 300px;
  height: 450px;
  position: relative;
  left: -200px;
  background-size: cover;
  border-radius: 50%;
  /* object-fit: cover; */
  border: 5px solid #ffffff; /* White border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

@media screen and (max-width: 600px) {
  .backgroundImage{
    background-size: cover;
  }
}